body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.register-container,
.login-container,
.profile-container,
.restore-container,
.newProductForm,
.editProductForm,
.register-container,
.cart-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-principal {
  max-width: 70%;
}

.register-container,
.profile-container,
.container-principal {
  min-width: 1000px;
}

.login-container {
  margin-top: 200px;
}

.register-container h2,
.login-container h2,
.profile-container h2,
.restore-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-label {
  font-weight: bold;
}

.form-control {
  margin-bottom: 20px;
  border-radius: 5px;
}

.btn-login,
.btn-reset,
.btn-secondary,
.btn-danger,
.btn-logout {
  color: white;
  border-radius: 5px;
}

.btn-login,
.btn-reset {
  background-color: #007bff;
}

.btn-login:hover,
.btn-reset:hover {
  background-color: #0056b3;
}

.btn-secondary {
  background-color: #6c757d;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

.btn-danger,
.btn-logout {
  background-color: #dc3545;
}

.btn-danger:hover,
.btn-logout:hover {
  background-color: #c82333;
}

.btn-logout {
  width: 100%;
  max-width: 200px;
  padding: 10px;
  margin-top: 10px;
}

.btn-login {
  padding: 10px 20px;
  text-align: center;
  border: none;
  margin-top: 10px;
  width: 100%;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-number {
  font-size: 1.2em;
  font-weight: bold;
}

.card,
.profile-detail {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body,
.profile-detail {
  padding: 20px;
}

.product-detail {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
}

.product-detail:last-child,
.profile-detail p:last-child {
  border-bottom: none;
}

.profile-detail p {
  font-size: 16px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
}
